@font-face {
  font-family: 'Destiny_Keys';
  src: url('/destiny-fonts/fonts/destiny_keys.woff2') format('woff2'),
    url('/destiny-fonts/fonts/destiny_keys.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
