@font-face {
  font-family: 'Destiny_Keys';
  src: url('/destiny-fonts/fonts/Destiny_Keys.woff2') format('woff2'),
    url('/destiny-fonts/fonts/Destiny_Keys.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
