@font-face {
  font-family: 'Destiny_Symbols_PC';
  src: url('/destiny-symbols/destiny-fonts/fonts/Destiny_Symbols_PC.woff2')
      format('woff2'),
    url('/destiny-symbols/destiny-fonts/fonts/Destiny_Symbols_PC.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
}
